@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.c-contenedor-header {
  background-color: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.c-header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.c-logo {
  font-family: 'Quicksand';
  text-decoration: none;
  font-weight: 900;
}

.c-logo__link {
  font-size: 36px;
  color: steelblue;
  text-decoration: none;
}

.c-logo__text {
  font-size: 32px;
  font-family: 'Quicksand';
  margin-left: 10px;
  color: peru;
}

.c-nav {
  display: flex;
}

.c-nav__list {
  display: flex;
  list-style: none;
}

.c-nav__item {
  margin-right: 25px;
}

.c-nav__link {
  font-size: 14px;
  text-align: none;
  color: steelblue;
  margin: 0;
  padding: 0;
  transition: .5s;
  text-decoration: none;
}

.c-nav__link:hover {
  color: peru;
}

.c-lang {
  color: steelblue;
  text-decoration: none;
}

.c-lang__es {
  margin-right: 5px;
}

.c-lang__en {
  margin-left: 5px;
}

.c-nav__responsive {
  display: none;
}

.c-nav__responsive-menu {
  display: none ;
}

@media screen and (max-width: 768px) {

  .c-nav__responsive {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: steelblue;
    color: whitesmoke;
    font-size: 24px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }

  .c-nav__responsive:hover {
    background-color: peru;
  }

  .c-nav__responsive-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 55px;
    background-color: steelblue;
    color: whitesmoke;
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
  }

  .c-nav__responsive-menu a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    margin: 10px 0px;
    padding: 5px;
  }

  .c-nav__list {
    display: none !important;
  }
}

/* SECCION INICIO */

.c-inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .6), rgba(30, 35, 38, 1)),
        url(img/inicio/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.c-contenido-banner {
    padding: 24px;
    background-color: #1e2326;
    max-width: 300px;
    max-height: 700px;
    margin: auto;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 75px;
}

.c-contenedor-img img {
    margin-top: 100px;
    border: 10px solid steelblue;
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 50%;
}

.c-titulo {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 48px;
    font-family: 'Quicksand';
    font-weight: 900;
    color: peru;
}

.c-subtitulo {
    font-size: 24px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 5px;
    color: steelblue;
}

.c-redes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.c-redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: steelblue;
    text-decoration: none;
    border: 1px solid steelblue;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 2px 5px;
    font-size: 20px;
    transition: .3s;
}

.c-redes a:hover {
    color: whitesmoke;
    background-color: peru;
    border: 1px solid whitesmoke;
}

/* SECCION PORTFOLIO */

.c-portfolio {
    background-color: #252A2E;
    color: whitesmoke;
    padding: 50px 20px;
  }
  
  .c-portfolio__content {
    max-width: 1100px;
    margin: auto;
  }
  
  .c-portfolio__titulo {
    font-size: 40px;
    font-family: 'Quicksand';
    text-align: center;
    padding: 20px 0;
    color: peru;
  }
  
  .c-portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .c-project {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
  }
  
  .c-project img {
    width: 100%;
    display: block;
    height: 240px;
    width: 340px;
  }
  
  .c-project__overlay {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(steelblue, rgba(28, 182, 152, .5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s;
    font-family: 'Quicksand';
    font-size: 22px;
    margin-top: 10px;
    opacity: 0;
  }
  
  .c-project:hover .c-project__overlay {
    opacity: 1;
  }
  
  .c-project__title {
    font-size: 26px;
    margin-bottom: 0px;
    transition: margin-bottom 0.3s;
    font-family: 'Quicksand';
  }
  
/* SECCION TECNOLOGIAS */

.c-tech {
  background-color: #252A2E;
  color: whitesmoke;
  padding: 50px 20px;
}

.c-tech__content {
  max-width: 1200px;
  margin: auto;
}

.c-tech__titulo {
  font-size: 40px;
  font-family: 'Quicksand';
  text-align: center;
  padding: 20px 0;
  color: peru;
}

.c-tech__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.c-tech-project {
  position: relative;
  color: whitesmoke;
  margin: 30px;
  cursor: pointer;
}

.c-tech-project__img {
  display: block;
  height: 100px;
  width: 100px;
}

.c-tech-project__overlay {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s;
  font-family: 'Quicksand';
  font-size: 22px;
  margin-toP: 10px;
  opacity: 0;
}

.c-tech-project:hover .c-tech-project__overlay {
  background: linear-gradient(green);
  opacity: 1;
}

.c-tech-project__title {
  font-size: 26px;
  margin-bottom: 0px;
  transition: margin-bottom 0.3s;
  font-family: 'Quicksand';
}

/* SECCION SOBRE MI  */

.c-sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.c-sobremi__contenido {
    max-width: 1100px;
    margin: auto;
}

.c-sobremi h2 {
    font-size: 48px;
    font-family: 'Quicksand';
    text-align: center;
    padding: 20px 0;
}

.c-sobremi__contenido p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.c-sobremi__contenido p span {
    color: steelblue;
    font-weight: bold;
}

.c-sobremi__fila {
    display: flex;
}

.c-sobremi__col {
    width: 50%;
}

.c-sobremi__col h3 {
    font-size: 28px;
    font-family: 'Quicksand';
    margin-bottom: 10px;
}

.c-sobremi__col ul {
    list-style: none;
}

.c-sobremi__col ul li {
    margin: 30px 0;
    color: steelblue;
}

.c-sobremi__col ul li strong {
    display: inline-block;
    color: peru;
    width: 130px;
}

.c-sobremi__col ul li span {
    background-color: peru;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    color: whitesmoke;
}

.c-sobremi__contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.c-sobremi__interes {
  width: calc(35% - 15px); /* Establece el ancho del interés con margen */
  max-width: 150px; /* Establece un ancho máximo para evitar que se vuelvan demasiado grandes */
  height: 100px;
  background-color: steelblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.c-sobremi__interes {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.c-sobremi__interes:hover {
    background-color: peru;
}

.c-sobremi__interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.c-sobremi__button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid steelblue;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: steelblue;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.c-sobremi__button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.c-sobremi__button .c-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: peru;
    z-index: -1;
    transition: 1s;
    border-radius: 6px;
    border-color: 2px solid whitesmoke;
    color: whitesmoke;
}

.c-sobremi__button:hover .c-overlay {
    width: 100%;
}


/* SECCION CONTACTO */
.c-contacto {
    background-image: url(img/contacto/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
  }
  
  .c-contacto__contenido-seccion {
    max-width: 1100px;
    margin: auto;
  }
  
  .c-contacto__titulo {
    font-size: 40px;
    font-family: 'Quicksand';
    text-align: center;
    padding: 20px 0;
    color: peru;
  }
  
  .c-contacto__fila {
    display: flex;
  }
  
  .c-contacto__col {
    width: 50%;
    padding: 10px;
    position: relative;
  }
  
  .c-contacto__col input,
  .c-contacto__col textarea {
    display: block;
    width: 100%;
    padding: 14px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
  }
  
  .c-contacto__col button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid steelblue;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px 22px;
    font-size: 16px;
    color: steelblue;
    position: relative;
    z-index: 10;
    border-radius: 6px;
  }
  
  .c-contacto__col button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
    border-radius: 6px;
  }
  
  .c-contacto__col button .c-contacto__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: peru;
    z-index: -1;
    transition: 1s;
    border-radius: 6px;
    border-color: 2px solid whitesmoke;
    color: whitesmoke;
  }
  
  .c-contacto__col button:hover .c-contacto__overlay {
    width: 100%;
  }
  
  .c-contacto__col img {
    width: 100%;
  }
  
  .c-contacto__col .c-contacto__info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .c-contacto__col .c-contacto__info ul {
    list-style: none;
  }
  
  .c-contacto__col .c-contacto__info ul li {
    margin-bottom: 20px;
  }
  
  .c-contacto__col .c-contacto__info ul li i {
    color: steelblue;
    display: inline-block;
    margin-right: 20px;
  }
  
  /* FOOTER */
  
  footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
  }
  
  .c-footer__redes {
    margin-bottom: 20px;
  }
  
  .c-footer__redes a {
    color: steelblue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid steelblue;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    margin-top: 40px;
  }
  
  .c-footer__redes a:hover {
    color: whitesmoke;
    background-color: peru;
    display: inline-block;
    text-decoration: none;
  }
  
  .c-footer__arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: steelblue;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
  }

  .c-footer__arriba:hover {
    display: block;
    width: 50px;
    height: 50px;
    background-color: peru;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
  }

@media (max-width: 987px) {
  .c-sobremi__fila {
    flex-direction: column;
  }

  .c-sobremi__col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 987px) {
  .c-contacto__fila {
    flex-direction: column;
  }

  .c-contacto__col {
    width: 100%;
    margin-bottom: 30px;
  }
}

