@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.contenedor-header header .logo a{
    font-family: 'Quicksand';
    font-size: 36px;
    color: steelblue;
    text-decoration: none;
    font-weight: 900;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: steelblue;
    margin: 0px 20px;
    padding: 0px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: peru;
}
.nav-responsive{
    background-color: steelblue;
    color:whitesmoke;
    font-size: 24px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.c-titulo{
    color: peru;
    padding: 50px 20px;
}
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.6), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    align-items:center;
}
.inicio .contenido-banner{
    padding: 24px;
    background-color: #1e2326 ;
    max-width: 350px;
    max-height: 600px;
    margin: auto;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 75px;
}
.inicio .contenido-banner img{
    margin-top: 100px;
    border: 10px solid steelblue;
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 20px;
    font-size: 48px;
    font-family: 'Quicksand';
    font-weight: 900;
}
.inicio .contenido-banner h2{
    font-size: 24px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 5px;
}
.inicio .contenido-banner .redes a{
    color: steelblue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid steelblue;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    color: whitesmoke;
    background-color: peru;
    display: inline-block;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
}

/* SECCION PORTFOLIO */

.portfolio{
    background-color: #252A2E;
    color: whitesmoke;
    padding: 50px 20px;
}

.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Quicksand';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
    height: 240px;
    width: 340px;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(steelblue, rgba(28,182,152,.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-family: 'Quicksand';
    font-size: 22px;
    margin-top:10px;
    letter-spacing: 5px;
    opacity: 0;
    height: 240px;
}
.portfolio .galeria .proyecto .overlay h2{
    font-size: 26px;
    margin-bottom: 0px;
    transition: 1s;
    font-family: 'Quicksand';
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 0.9;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/* SECCION SOBRE MI  */

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Quicksand';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: steelblue;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Quicksand';
    margin-bottom: 10px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 30px 0;
    color:steelblue;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: peru;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: peru;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    color: whitesmoke;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: steelblue;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: peru;

}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid steelblue;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: steelblue;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.sobremi button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: peru;
    z-index: -1;
    transition: 1s;
    border-radius: 6px;
    border-color: 2px solid whitesmoke;
    color: whitesmoke;
}

.sobremi button:hover .overlay{
    width: 100%;
}


/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Quicksand';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 14px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid steelblue;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px 22px;
    font-size: 16px;
    color: steelblue;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.contacto button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: peru;
    z-index: -1;
    transition: 1s;
    border-radius: 6px;
    border-color: 2px solid whitesmoke;
    color: whitesmoke;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: steelblue;
    display: inline-block;
    margin-right: 20px;
}

/* FOOTER */

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

.inicio .contenido-banner .redes a{
    color: steelblue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid steelblue;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    margin-top: 40px;
}


footer .redes a{
    color: steelblue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid steelblue;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    margin-top: 40px;
}

footer .redes :hover{
    color: whitesmoke;
    background-color: peru;
    display: inline-block;
    text-decoration: none;
}


footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: steelblue;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .arriba:hover{
    display: block;
    width: 50px;
    height: 50px;
    background-color: peru;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}



/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
